/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

.comment{
    padding-left: 30px;
}
.response{
    padding-left: 60px;
}
.button{
    background-color: darkseagreen;
    width: 150px;
    height: 30px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    color: wheat;

    margin: 10px;
}
.form{
    padding: 10px;
    font-weight: bold;
}
.container{
    background-color: wheat;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 700px;
    height: 400px;
    text-align: center;
}
.post{
    padding-left: 20px;

}